{
    "rules": {
        "getter-return": 2,
        "no-case-declarations": 2,
        "no-compare-neg-zero": 2,
        "no-const-assign": 2,
        "no-constant-condition": 2,
        "no-dupe-args": 2,
        "no-dupe-class-members": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty": 2,
        "no-ex-assign": 2,
        "no-extra-semi": 2,
        "no-fallthrough": 2,
        "no-func-assign": 2,
        "no-global-assign": 2,
        "no-inner-declarations": 2,
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 2,
        "no-mixed-spaces-and-tabs": 2,
        "no-redeclare": 2,
        "no-regex-spaces": 2,
        "no-self-assign": 2,
        "no-sparse-arrays": 2,
        "no-undef": 2,
        "no-unexpected-multiline": 2,
        "no-unreachable": 2,
        "no-unsafe-finally": 2,
        "no-unsafe-negation": 2,
        "no-unused-labels": 2,
        "no-unused-vars": 2,
        "no-useless-escape": 2,
        "valid-typeof": 2,
        "camelcase": 2,
        "comma-spacing": 2,
        "global-require": 2,
        "indent": [2, 2],
        "linebreak-style": 2,
        "no-console": 1,
        "no-duplicate-imports": 2,
        "no-inline-comments": 2,
        "no-undef-init": 2,
        "no-undefined": 2,
        "no-underscore-dangle": 2,
        "no-useless-catch": 2,
        "no-var": 2,
        "object-curly-newline": 2,
        "object-curly-spacing": [2, "always"],
        "prefer-const": 2,
        "prefer-arrow-callback": 2,
        "prefer-destructuring": 2,
        "prefer-spread": 2,
        "semi": 2,
        "spaced-comment": 2
    },
    "env": {
      "node": true,
      "es6": true,
      "shared-node-browser": true,
      "browser" : true,
    }
}
