<% include ./partials/header %>

<section class="mainForm">
<form action="">
  <h2>New Account</h2>
  <section className="multiplePageForm">
    <div class="multiplePageForm">
      <label for="username">Username</label>
      <input id="username" type="text" placeholder="johnDoe123">
      <label for="email">E-mail</label>
      <input id="email" type="text" placeholder="John@Doe.com">
      <label for="password">Password</label>
      <input id="password" type="password">
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" type="password">
      <div class="divider"></div>
      <a href="#">Next</a>
    </div>
    <div class="multiplePageForm">
      <label for="username">Username</label>
      <input id="username" type="text" placeholder="johnDoe123">
      <label for="email">E-mail</label>
      <input id="email" type="text" placeholder="John@Doe.com">
      <label for="password">Password</label>
      <input id="password" type="password">
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" type="password">
      <div class="divider"></div>
      <a href="#">Next</a>
    </div>
    <div class="multiplePageForm">
      <label for="username">Username</label>
      <input id="username" type="text" placeholder="johnDoe123">
      <label for="email">E-mail</label>
      <input id="email" type="text" placeholder="John@Doe.com">
      <label for="password">Password</label>
      <input id="password" type="password">
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" type="password">
      <div class="divider"></div>
      <input type="submit" value="Naar profiel">
    </div>
  </section>
</form>

<div class="divider blue"><p>Of</p></div>

<button>Maak een account!</button>
</section>

<% include ./partials/footer %>
