<% include ./partials/header %>
<% include ./partials/cloudBG %>

  <section class="mainForm">
    <form action="/login" method="post">
      <h2>Login</h2>
      <label for="email">E-mail</label>
      <input id="email" name="email" type="email" placeholder="appel@sap.com">
      <label for="password">Wachtwoord</label>
      <input id="password" name="password" type="password">
      <input type="submit" value="Log in">
    </form>

    <div class="divider blue"><p>Or</p></div>

    <a href="/createAccount">
      <button>Maak een Account!</button>
    </a>
</section>

<footer class="indexFooter">
  <section>
    <img src="img/euro.png" alt="">
    <h3>100% Gratis</h3>
  </section>
  <section>
    <img src="img/hart.png" alt="">
    <h3>Gegarandeerd Liefde</h3>
  </section>
  <section>
    <img src="img/shild.png" alt="">
    <h3>Super veilig</h3>
  </section>
</footer>

<% include ./partials/footer %>
