<header class="homeHeader">
  <a href="/"><img src="img/hart.png"/></a>
  <nav>
  <a href="#">My Profile</a>
  <a href="#">Matches</a>
  <a href="#">Games</a>
  <a href="/logout">Logout</a>
  </nav>
</header>
